.contact-wrapper {
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding: 20px;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.contact-header h1 {
    text-align: center;
    font-size: 64px;
}

.contact-header p {
    text-align: center;
}

.contact-options {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 400px;
    gap: 24px;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 7fr;
    font-size: 26px;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.contacts p {
    font-size: 22px;
}

.contacts a {
    transition: all 0.15s ease-in-out;
}

.contacts a:hover {
    transform: scale(1.05);
}