.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text p {
    width: auto;
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-size: 64px;

    border-right: 4px solid #bdc0ba;
    animation: cursorBlink 0.75s step-end infinite,
        floatUp 1s ease-out forwards;
}

@keyframes cursorBlink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #bdc0ba;
    }
}

@keyframes floatUp {
    from {
        transform: translateY(15px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
